.submit-fields {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.submit-fields label {
  text-align: left;
  display: block;
}

.not-date-picker {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
}

/* select {
  background-image: url(triangle.png);
} */

.submit-fields button {
  background: #0039a6;
  color: #fff;
  /* border: 0; */
  padding: 5px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition-duration: 0.35s;
}

.submit-fields button:hover {
  background-color: white; /* Green */
  color: black;
}

textarea {
  resize: none;
}

#date-picker {
  width: 100%;
  float: left;
}

button {
  left: 50%;
  margin: 0 5px;
  /* margin: 0 auto 5px auto; */
  border: 2px solid #0039a6; /* Green */
}

.reset {
  margin-left: 85px;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
