.App {
  text-align: center;
  background-color: white;
  max-width: 450px;
  /* margin: 50px auto 150px 100px; */
  margin: 50px auto 150px auto;

  padding: 0.5px 15px 15px 15px;
  border-radius: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
}

input {
  margin-left: 25px;
  margin-right: 25px;
}

input[type="text"]:focus {
  border: 3px solid #555;
}

button {
  margin-left: 25px;
}
