button,
label {
  background: #696969;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

table {
  border: 10px solid #696969;
  margin: 0 auto 0 auto;
  background-color: #696969;
  border-collapse: collapse;
  text-align: center;
}

td {
  border: 5px solid #696969;
  background-color: white;
}

.my-btn {
  margin: 5px;
}

.server-button {
  margin: 10px auto;
}

.my-btn-div {
  text-align: center;
}

.file-btn {
  background-color: rgb(114, 233, 84);
  color: #ffffff;
}

#accept {
  background-color: rgb(114, 233, 84);
}

input[type="file"] {
  display: none;
}

.textt {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.file {
  background-color: #696969;
}
