button {
  background: #696969;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px;
}

table {
  border: 10px solid #696969;
  margin: 0 auto 0 auto;
  background-color: #696969;
  border-collapse: collapse;
  text-align: center;
}

td {
  border: 5px solid #696969;
  background-color: white;
}

.server-button {
  margin: 10px auto;
}

/* .my-btn {
} */

.my-btn-div {
  text-align: center;
}
